$z_purple: #5c6cff;
$gray_text: #959595;

body {
  font-family: arial;
  font-size: 18px;
}

.card {
  width: 100%;
  border: solid 1px #EAEAEA;
  border-radius: 4px;
  margin: 5px 0px;
  button {
    background-color: $z_purple;
  }
}

